<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
</head>
<style>
    html, body {
        color: #444;
        background-color: #F7F7F7;
    }
    a {
        color: #777;
    }
    a:hover {
        color: #777;
    }
    .toolbar{
        background: #F9F9F9;
        color: #777;
        padding: 10px;
        border-bottom: 1px solid #00d873;
    }
    .toolbar-element{
        vertical-align: middle;
    }
    .toolbar-title{
        font-family: Helvetica, serif;
        font-size: 21px;
    }
    .toolbar-icon{
        cursor: pointer;
    }
    .toolbar-icon > a{
        color: #777;
        text-decoration: none;
    }
    .toolbar-icon > a:hover{
        color: #4CAF50;
    }
    .issue-top{
        padding: 0 20px 0 20px;
        color: #777;
    }
    .issue-content{
        margin: 0 20px 0 20px;
        padding: 10px;
        background: #EDEDED;
        color: #777;
        border-radius: 10px;
    }
    .issue-row{
        margin: 10px;
        overflow: auto;
    }
    .issue-label{
        font-weight: bold;
    }
    textarea{
        width: 100%;
        resize: vertical;
    }
    .dropdown{
        width: 50%;
    }
    .issue-button{
        margin: 0 20px 0 20px;
        padding: 10px;
    }
</style>
<body>

<div class="container-fluid">
    {% form_theme form 'form/bootstrap_3_custom.html.twig' %}
    {{ form_start(form) }}
    <div class="row toolbar">
        <i class="material-icons toolbar-element toolbar-icon">
            <a href="{{ path('dashboard', {"projectId": project.id})}}">
                chevron_left
            </a>
        </i>
        <span class="toolbar-element toolbar-title">{{ project.name }}</span>
        <i class="material-icons toolbar-element toolbar-icon" style="float: right">
            <a href="{{ path('issues_page', {"projectId": project.id})}}">
                bug_report
            </a>
        </i>
    </div>
    <div class="row issue-top">
        <h3>Issue #{{ issue.id }}</h3>
    </div>
    <div class="row issue-content">
        <div class="row issue-row">Added by <b><i>{{ issuedUser }}</i></b></div>
        <div class="col-md-2">
            <div class="row issue-label issue-row">Name:</div>
            <div class="row issue-label issue-row">Date added:</div>
            <div class="row issue-label issue-row">{{ form_label(form.assignedUserId, "Assigned user") }}:</div>
            <div class="row issue-label issue-row">{{ form_label(form.state) }}:</div>
            <div class="row issue-label issue-row">{{ form_label(form.priority) }}:</div>
        </div>
        <div class="col-md-4">
            <div class="row issue-row">{{ issue.name }}</div>
            <div class="row issue-row">{{ issue.dateAdded|date('d M Y') }}</div>
            {% if owner %}
                <div class="row issue-row dropdown">
                {{ form_widget(form.assignedUserId) }}
            {% else %}
                <div class="row issue-row">
                {{ assignedUser }}
            {% endif %}
            </div>
            <div class="row issue-row dropdown">{{ form_widget(form.state) }}</div>
            <div class="row issue-row dropdown">{{ form_widget(form.priority) }}</div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <div class="row issue-label issue-row">Description:</div>
                </div>
                <div class="col-md-9">
                    <div class="row issue-row">{{ issue.description }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row issue-label issue-row">{{ form_label(form.comment) }}:</div>
                </div>
                <div class="col-md-9">
                    <div class="row issue-row">{{ form_widget(form.comment) }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row issue-button text-right">
        <button type="submit" class="btn btn-success"><b>Update</b></button>
    </div>
        {{ form_widget(form._token) }}
    {#{{ form_end(form) }}#}
</div>
</body>
</html>
