<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<style>
    html, body {
        color: #444;
        background-color: #F7F7F7;
    }
    .toolbar{
        background: #F9F9F9;
        color: #777;
        padding: 10px;
        border-bottom: 1px solid #00d873;
        margin-bottom: 20px;
    }
    .toolbar-element{
        vertical-align: middle;
    }
    .toolbar-title{
        font-family: Helvetica, serif;
        font-size: 21px;
    }
    .toolbar-icon{
        cursor: pointer;
    }
    .issue-top{
        margin-top: 20px;
        padding: 0 20px 0 20px;
        color: #777;
    }
    textarea{
        resize: vertical;
    }
    a{
        color: #777;
        text-decoration: none;
    }
    a:hover{
        color: #4CAF50;
        text-decoration: none;
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row toolbar">
            <a href="{{ path('issues_page', {"projectId" : project.id}) }}">
                <i class="material-icons toolbar-element toolbar-icon">
                        chevron_left
                </i>
                <span class="toolbar-element toolbar-title">back</span>
            </a>
        </div>
        <div class="row issue-top text-center">
            <h4>New <b>{{ project.name }}</b> issue</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                {% form_theme form 'form/bootstrap_3_custom.html.twig' %}
                {{ form_start(form) }}
                <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                </div>
                <div class="form-group">
                {{ form_label(form.assignedUserId, "Assigned user") }}
                {{ form_widget(form.assignedUserId) }}
                </div>
                <div class="form-group">
                {{ form_label(form.priority) }}
                {{ form_widget(form.priority) }}
                </div>
                <button type="submit" class="btn btn-success btn-block" style="margin-top: 20px"><b>Add</b></button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

</body>
</html>